html {
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: black;
    font-size: 62.5%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.image {
    object-fit: cover;
    object-position: center;
}

.avatar {
    border-radius: 50%;
}

.rotate {
    transform-origin: top left;
    animation: rotate 4s linear infinite;
    position: relative;
    left: 10rem;
    top: 10rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.full-height {
    min-height: 100vh;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-shrink {
    flex-shrink: 0;
}

.hidden {
    position: absolute;
    left: -9999rem;
}

.lead {
    font-size: 3.2rem;
    line-height: 4rem;
}

.color-white {
    color: #FFF;
}

.text-center {
    text-align: center;
}

.flex-column {
    flex-direction: column;
}

.absolute {
    position: absolute;

    &.center {
        left: 50%;
        top: 50%;
    }
}

.overlay {
    z-index: 1;
}

.relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.offset-top {
    position: relative;
    top: -10rem;
}